.imageUpload * {
    padding: 10px;
}
.image-input {
    outline: none;
    border: 1px solid lightgrey;
}
.imageUpload {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.imageUpload-progress {
    width: 100%;
}
